@import "tailwindcss";
@plugin "daisyui" {
    themes: light --default, dark --prefersdark, autumn;
}

@theme {
  --font-tino: "Tino", serif;
  --font-roboto: "Roboto", sans-serif;
  --font-sans-serif: var(--font-roboto);
  --font-serif: var(--font-tino);
  --default-font-family: var(--font-roboto);
}

html, body, #root {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}
